<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440154099660-t6rddgphqhatdd1v5ti7ll9lvalhlega.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440154099660-t6rddgphqhatdd1v5ti7ll9lvalhlega</string>
	<key>API_KEY</key>
	<string>AIzaSyAjB0X2w_H7PIuF1YzMKxiNqg2Xaob3F6s</string>
	<key>GCM_SENDER_ID</key>
	<string>440154099660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>stevenkellner.Strafen</string>
	<key>PROJECT_ID</key>
	<string>strafen-app</string>
	<key>STORAGE_BUCKET</key>
	<string>strafen-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440154099660:ios:11a8db1451d48261ee9769</string>
	<key>DATABASE_URL</key>
	<string>https://strafen-app.firebaseio.com</string>
</dict>
</plist>